.cart-info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 0 0 44px 0;
  border-bottom: 1px rgb(202, 194, 194) solid;
}

.subtotal {
  display: flex;
}

.subtotal p {
  margin: 0;
}

.left-text {
  width: 200px;
  /* margin: 0; */
}

.subtotal-bold {
  font-weight: 700;
  /* margin: 0; */
}

.red {
  color: red;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}
